#mainContainer {
  width: 80%;
  min-height: 100px;
  background-color: antiquewhite;
  border-radius: 10px;
  display: flex;
  margin: 20px auto;
}

#leftContainer {
  width: 200px;
  min-height: 10px;
  /* background-color: red; */
}

#rightContainer {
  width: 100%;
  min-height: 10px;
  /* background-color: blue; */
}

.type {
  background-color: aqua;
  padding: 5px;
  border-radius: 12px;
}